<ul id="form-errors" style="display: none;" class="error-list"></ul>
<%= form_for :product, html: { id: 'product-form', class: 'create', 'redirect-url': url_for(action: 'index') }  do |f| %>
  <%= f.hidden_field :role, :value => @role  %>
  <table>
    <tr>
      <td>Product name:</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>Premium:</td>
      <td><%= f.text_field :premium, id: "premium" %></td>
    </tr>
    <tr>
      <td>Coverage Type:</td>
      <td>
        <%= f.radio_button :coverage_type, "Individual" %> Individual
        <%= f.radio_button :coverage_type, "Family" %> Family
      </td>
    </tr>
    <tr>
      <td>Trip:</td>
      <td>
        <%= f.radio_button :trip_type, "Single" %> Single 
        <%= f.radio_button :trip_type, "Anual" %> Anual
      </td>
    </tr>
    <tr>
      <td>Insurer Name:</td>
      <td><%= f.text_field :insurer_name %></td>
    </tr>
  </table>
  <a href="<%= url_for action: "index" %>">Cancel</a>
  &nbsp;
  <%= f.submit %>
<% end %>