<h3><%= @title %></h3>

<a href="<%= url_for controller: "/hos/products", action: "new" %>">Create</a>

<% if flash[:notice] %>
  <div class="flash-notice">
    <%= flash[:notice] %>  
  </div>
<% end %>

<table class="list" cellspacing="0">
  <tr>
    <th>Product Name</th>
    <th>Premium</th>
    <th>Coverage Type</th>
    <th>Trip Type</th>
    <th>Insurer</th>
    <th>&nbsp;</th>
  </tr>
  <% if @products %>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td style="text-align: right;">
          <%= number_with_precision(product.premium, :precision => 2, :delimiter => ',') %>  
        </td>
        <td><%= product.coverage_type %></td>
        <td><%= product.trip_type %></td>
        <td><%= product.insurer_name %></td>
        <td>
          <a href="<%= url_for action: "edit", id: product.id %>">Edit</a>
          &nbsp;|&nbsp;
          <a href="#">Delete</a>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>