<ul>
  <li><a href="<%= url_for controller: "/admin/users", action: "new", role: "head-of-sales" %>">Create Head of Sales</a></li>
  <li><a href="<%= url_for controller: "/admin/users", action: "new", role: "hr" %>">Create HR</a></li>
</ul>