<ul>
  <li><a href="<%= url_for controller: "/hos/products", action: "index" %>">Product List</a></li>
  <li><a href="<%= url_for controller: "/hos/products", action: "new" %>">Create Product</a></li>
</ul>