/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 */


.flash-notice { color: green; border: 1px solid green; padding: 10px 10px; margin: 20px 0; }

table.list { border-left: 1px solid #ccc; border-top: 1px solid #ccc; width: 100%; }
table.list th { border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 5px 10px; font-weight: bold; }
table.list td { border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 5px 10px; }

.error-list { border: 1px solid red; padding: 10px 10px 10px 30px; }
.error-list li { color: red; padding: 0; margin: 0; }





#floatingCirclesG{
  position:relative;
  width:22px;
  height:22px;
  margin:auto;
  transform:scale(0.6);
    -o-transform:scale(0.6);
    -ms-transform:scale(0.6);
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
}

.f_circleG{
  position:absolute;
  background-color:rgb(255,255,255);
  height:4px;
  width:4px;
  border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
  animation-name:f_fadeG;
    -o-animation-name:f_fadeG;
    -ms-animation-name:f_fadeG;
    -webkit-animation-name:f_fadeG;
    -moz-animation-name:f_fadeG;
  animation-duration:0.622s;
    -o-animation-duration:0.622s;
    -ms-animation-duration:0.622s;
    -webkit-animation-duration:0.622s;
    -moz-animation-duration:0.622s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#frotateG_01{
  left:0;
  top:9px;
  animation-delay:0.2295s;
    -o-animation-delay:0.2295s;
    -ms-animation-delay:0.2295s;
    -webkit-animation-delay:0.2295s;
    -moz-animation-delay:0.2295s;
}

#frotateG_02{
  left:3px;
  top:3px;
  animation-delay:0.316s;
    -o-animation-delay:0.316s;
    -ms-animation-delay:0.316s;
    -webkit-animation-delay:0.316s;
    -moz-animation-delay:0.316s;
}

#frotateG_03{
  left:9px;
  top:0;
  animation-delay:0.3925s;
    -o-animation-delay:0.3925s;
    -ms-animation-delay:0.3925s;
    -webkit-animation-delay:0.3925s;
    -moz-animation-delay:0.3925s;
}

#frotateG_04{
  right:3px;
  top:3px;
  animation-delay:0.469s;
    -o-animation-delay:0.469s;
    -ms-animation-delay:0.469s;
    -webkit-animation-delay:0.469s;
    -moz-animation-delay:0.469s;
}

#frotateG_05{
  right:0;
  top:9px;
  animation-delay:0.5455s;
    -o-animation-delay:0.5455s;
    -ms-animation-delay:0.5455s;
    -webkit-animation-delay:0.5455s;
    -moz-animation-delay:0.5455s;
}

#frotateG_06{
  right:3px;
  bottom:3px;
  animation-delay:0.622s;
    -o-animation-delay:0.622s;
    -ms-animation-delay:0.622s;
    -webkit-animation-delay:0.622s;
    -moz-animation-delay:0.622s;
}

#frotateG_07{
  left:9px;
  bottom:0;
  animation-delay:0.6985s;
    -o-animation-delay:0.6985s;
    -ms-animation-delay:0.6985s;
    -webkit-animation-delay:0.6985s;
    -moz-animation-delay:0.6985s;
}

#frotateG_08{
  left:3px;
  bottom:3px;
  animation-delay:0.775s;
    -o-animation-delay:0.775s;
    -ms-animation-delay:0.775s;
    -webkit-animation-delay:0.775s;
    -moz-animation-delay:0.775s;
}



@keyframes f_fadeG{
  0%{
    background-color:rgb(0,0,0);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-o-keyframes f_fadeG{
  0%{
    background-color:rgb(0,0,0);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-ms-keyframes f_fadeG{
  0%{
    background-color:rgb(0,0,0);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-webkit-keyframes f_fadeG{
  0%{
    background-color:rgb(0,0,0);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-moz-keyframes f_fadeG{
  0%{
    background-color:rgb(0,0,0);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}