<h3>Quick Qoute Form</h3>
<ul id="form-errors" style="display: none;" class="error-list"></ul>
<form action="<%= url_for action: "filter" %>" id="filter-form">
  <table>
    <tr>
      <td>Insurer:</td>
      <td>
        <select name="insurer_name">
          <option value="">-</option>
          <% if @products %>
            <% @products.each do |product| %>
              <option value="<%= product.insurer_name %>"><%= product.insurer_name %></option>
            <% end %>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <td>Coverage Type:</td>
      <td>
        <select name="coverage_type">
          <option value="">-</option>
          <option value="Individual">Individual</option>
          <option value="Family">Family</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Trip Type:</td>
      <td>
        <select name="trip_type">
          <option value="">-</option>
          <option value="Single">Single</option>
          <option value="Anual">Anual</option>
        </select>
      </td>
    </tr>
  </table>
  <button typpe="submit">Submit</button>
</form>

<style type="text/css">
  #product-result div.item { border: 1px solid #ccc; margin: 10px 0; padding: 10px 10px; }
  #product-result .item .details .title { display: inline-block; min-width: 130px; font-weight: bold; }
</style>

<div id="product-result">

  <!-- <div class="item">
    <div class="details">
      <span class="title">Insurer Name:</span>
      <span class="content">Asian Life</span>
    </div>
    <div class="details">
      <span class="title">Product Name:</span>
      <span class="content">Asian Life</span>
    </div>
    <div class="details">
      <span class="title">Coverage Type:</span>
      <span class="content">Asian Life</span>
    </div>
    <div class="details">
      <span class="title">Trip Type:</span>
      <span class="content">Asian Life</span>
    </div>
    <div class="details">
      <span class="title">Premium:</span>
      <span class="content">Asian Life</span>
    </div>
  </div> -->

</div>