<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<ul id="form-errors" style="display: none;" class="error-list">
  <li>Error 1</li>
</ul>

<%= form_for :user, html: { id: 'user-form', class: 'create', 'redirect-url': url_for(action: 'index', role: params[:role]) }  do |f| %>
  <%= f.hidden_field :role, :value => @role  %>
  <table>
    <tr>
      <td>First name:</td>
      <td><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <td>Last name:</td>
      <td><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <td>Date of Birth:</td>
      <td><%= f.text_field :date_of_birth, :class => "datepicker" %></td>
    </tr>
    <tr>
      <td>Email Address:</td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td>NRIC/FIN:</td>
      <td><%= f.text_field :nric %></td>
    </tr>
    <tr>
      <td>Gender:</td>
      <td>
        <%#= f.text_field :gender %>

        Male <%= f.radio_button :gender, "Male" %>
        Female <%= f.radio_button :gender, "Female" %>

      </td>
    </tr>

    <tr>
      <td>Password:</td>
      <td><%= password_field_tag :password %></td>
    </tr>
    <tr>
      <td>Password Confirmation:</td>
      <td><%= password_field_tag :password_confirmation %></td>
    </tr>

  </table>
  <%= f.submit %>

  <!-- <span id="loader" style="display: none;">
    <div style="width: 50px; display: inline-block; position: relative; top: 7px;">
      <div id="floatingCirclesG">
        <div class="f_circleG" id="frotateG_01"></div>
        <div class="f_circleG" id="frotateG_02"></div>
        <div class="f_circleG" id="frotateG_03"></div>
        <div class="f_circleG" id="frotateG_04"></div>
        <div class="f_circleG" id="frotateG_05"></div>
        <div class="f_circleG" id="frotateG_06"></div>
        <div class="f_circleG" id="frotateG_07"></div>
        <div class="f_circleG" id="frotateG_08"></div>
      </div>
    </div>
  </span> -->

<% end %>