<h3>Product List</h3>

<a href="<%= url_for action: 'new' %>">Create</a>

<% if flash[:notice] %>
  <div class="flash-notice">
    <%= flash[:notice] %>  
  </div>
<% end %>

<table class="list" cellspacing="0">
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Date of Birth</td>
    <td>Email Address</td>
    <td>NRIC/FIN</td>
    <td>Gender</td>
    <td>&nbsp;</td>
  </tr>
  <% if @users %>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.date_of_birth.strftime("%d/%m/%Y") if user.date_of_birth %></td>
        <td><%= user.email %></td>
        <td><%= user.nric %></td>
        <td><%= user.gender %></td>
        <td>
          <a href="<%= url_for action: "edit", id: user.id %>">Edit</a>
          &nbsp;|&nbsp;
          <a href="#">Delete</a>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>