<!DOCTYPE html>
<html>
  <head>
    <title>BrPortal</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <a href="<%= url_for admin_path %>">Home</a>
    <% if user_login_signed_in? %>
      &nbsp;|&nbsp;
      <a href="<%= url_for controller: "/admin/users", action: "index", role: "head-of-sales" %>">Head of Sales</a>
      &nbsp;|&nbsp;
      <a href="<%= url_for controller: "/admin/users", action: "index", role: "hr" %>">HR</a>
      &nbsp;|&nbsp;
      <%= link_to "Logout", destroy_user_login_session_path, method: :delete  %>
      &nbsp;|&nbsp;
      Welcome <%= current_user_login.loginable.email %>!
    <% else %>
      &nbsp;|&nbsp;
      <a href="<%= url_for new_user_login_session_path %>">Login</a>
    <% end %>
    <hr />

    <%= yield %>

  </body>
</html>
