<!DOCTYPE html>
<html>
  <head>
    <title>BR Portal - HR</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <style>
      .flash-notice { color: green; border: 1px solid green; padding: 10px 10px; margin: 20px 0; }

      table.list { border-left: 1px solid #ccc; border-top: 1px solid #ccc; }
      table.list td { border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 5px 10px; }
    </style>
  </head>
  <body>

    <a href="<%= url_for hos_path %>">Home</a>
    <% if user_login_signed_in? %>
      &nbsp;|&nbsp;
      <%= link_to "Logout", destroy_user_login_session_path, method: :delete  %>
      &nbsp;|&nbsp;
      Welcome <%= current_user_login.loginable.first_name %>!
    <% else %>
      &nbsp;|&nbsp;
      <a href="<%= url_for new_user_login_session_path %>">Login</a>
    <% end %>
    <hr />

    <%= yield %>

  </body>
</html>
